.wp-block-button {
  margin-bottom: rem(24);

  .wp-block-button__link {
    background-color: var(--blue);
    border: solid var(--border-thin) var(--blue); // TODO: Remove var
    border-radius: $border-radius; // TODO: Remove var
    color: var(--off-white);
    display: inline-block;
    font-size: 1rem; // TODO: Remove var
    font-family: $font-family-sans; // TODO: Remove var
    font-weight: $semibold;
    height: auto;
    line-height: 1.5;
    min-height: 2.5rem;
    padding: rem(9) rem(24);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;

    &:hover,
    &.hover {
      background-color: var(--dark-blue);
      border-color: var(--dark-blue);
      color: var(--off-white);
    }

    &:active,
    &.active,
    &:focus,
    &.focus {
      background-color: var(--dark-blue);
      border-color: var(--dark-blue);
      box-shadow: 0 0 0 0.125rem var(--off-white), 0 0 0 0.25rem var(--dark-blue);
      outline: 0;
    }
  }

  &.is-style-primary-on-dark .wp-block-button__link {
    background-color: var(--yellow);
    border-color: var(--yellow);
    color: var(--dark-mint);

    &:hover,
    &.hover {
      background-color: var(--dark-yellow);
      border-color: var(--dark-yellow);
      color: var(--off-white);
    }

    &:active,
    &.active,
    &:focus,
    &.focus {
      background-color: var(--dark-yellow);
      border-color: var(--dark-yellow);
      box-shadow: 0 0 0 0.125rem var(--dark-mint), 0 0 0 0.25rem var(--dark-yellow);
    }
  }

  &.is-style-secondary .wp-block-button__link {
    background-color: var(--off-white);
    border-color: var(--dark-blue);
    color: var(--dark-blue);

    &:hover,
    &.hover {
      background-color: var(--light-grey);
      border-color: var(--blue);
      color: var(--blue);
    }

    &:active,
    &.active,
    &:focus,
    &.focus {
      background-color: var(--light-grey);
      border-color: var(--blue);
      color: var(--blue);
      box-shadow: 0 0 0 0.0625rem var(--blue), 0 0 0 0.1875rem var(--light-grey), 0 0 0 0.3125rem map-get($theme-colors, "dark-blue");
    }
  }

  &.is-style-secondary-on-white .wp-block-button__link {
    background-color: var(--white);
    border-color: var(--dark-blue);
    color: var(--dark-blue);

    &:hover,
    &.hover {
      background-color: var(--light-grey);
      border-color: var(--blue);
      color: var(--blue);
    }

    &:active,
    &.active,
    &:focus,
    &.focus {
      background-color: var(--light-grey);
      border-color: var(--blue);
      color: var(--blue);
      box-shadow: 0 0 0 0.0625rem var(--blue), 0 0 0 0.1875rem var(--light-grey), 0 0 0 0.3125rem map-get($theme-colors, "dark-blue");
    }
  }

  &.alignleft {
    text-align: left;
  }

  &.alignright {
    text-align: right;
  }

  &.aligncenter {
    text-align: center;
  }

  &.alignleft .wp-block-button__link {
    float: left;
  }

  &.alignright .wp-block-button__link {
    float: right;
  }
}

* + .wp-block-button {
  margin-top: rem(30);
}
