.child-pages {
  &--card,
  &--text-only {
    list-style: none;
    margin: 0 0 rem(40);
    padding-left: 0;

    .child-pages__child {
      a {
        border-bottom-color: theme-color("dark-mint");
        color: theme-color("dark-mint");
        display: block;
        line-height: 3;
        width: 100%;

        &:hover {
          border-bottom-color: theme-color("light-blue");
          color: theme-color("dark-mint");
        }

        &:focus,
        &:active {
          border-bottom-color: theme-color("blue");
          color: theme-color("off-white");

          &::after {
            background-color: theme-color("blue");
          }
        }

        &::after {
          content: "\e901";
          display: block;
          float: right;
          /* stylelint-disable */
          font-family: "pcc";
          /* stylelint-enable */
          font-size: rem(12);
          margin-top: rem(4);
          margin-left: rem(8);
        }
      }

      + .child-pages__child {
        margin-top: 0;
      }
    }

    .child-pages__image {
      display: none;
      margin: 0;

      img {
        width: 100%;
        height: auto;
      }
    }
  }

  &--card {
    .child-pages__child {
      position: relative;

      a {
        &::before {
          bottom: 0;
          content: "";
          left: 0;
          position: absolute;
          right: 0;
          top: 0;
        }
      }
    }
  }

  &--card-with-excerpt {
    list-style: none;
    padding-left: 0;

    .child-pages__child {
      max-width: $wp-blocks-container-lg;
      width: 100%;

      + .child-pages__child {
        margin-top: rem(70);
      }

      h2 {
        color: theme-color("dark-blue");
        margin-bottom: rem(20);
      }
    }

    .child-pages__image {
      margin: 0;

      img {
        height: auto;
        margin-top: $gutter;
        width: calc(100% - #{$gutter});
      }

      &:nth-child(odd) img {
        box-shadow: $gutter -1 * $gutter 0 theme-color("pale-blue");
      }

      &:nth-child(even) img {
        box-shadow: $gutter -1 * $gutter 0 theme-color("pale-red");
      }
    }

    .child-pages__text {
      border-top: solid rem(3) theme-color("dark-blue");
      grid-area: text;
      margin: rem(45) $gutter 0;
      padding: rem(12) 0 0;
    }
  }
}

@media screen and (min-width: $wp-blocks-breakpoint-lg) {
  .child-pages {
    &--text-only {
      align-content: space-between;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      height: rem(240);

      .child-pages__child {
        width: calc(50% - #{$gutter} / 2);
      }
    }

    &--card {
      column-gap: $gutter;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      margin: 0 0 rem(100);
      row-gap: rem(64);

      .child-pages__child {
        border-top: solid rem(3) theme-color("dark-blue");

        &:focus-within {
          border-top-color: theme-color("blue");
        }

        a {
          border-bottom: none;
          color: theme-color("dark-blue");
          font-size: rem(20);
          font-weight: $semibold;
          line-height: 1.5;
          margin-top: rem(6);

          &:hover {
            color: theme-color("dark-mint");
          }

          &:focus,
          &:active {
            color: theme-color("off-white");

            &::after {
              background-color: theme-color("   blue");
            }
          }
        }
      }

      .child-pages__image {
        display: block;
      }
    }

    &--card-with-excerpt {
      .child-pages__child {
        column-gap: $gutter;
        display: grid;
        grid-column: 1 / 13;
        grid-template-areas: "image image image image image blank text text text text text text";
        grid-template-columns: repeat(12, 1fr);
        margin-left: auto;
        margin-right: auto;
        padding-left: $gutter;
        padding-right: $gutter;
        width: 100%;

        + .child-pages__child {
          margin-top: rem(40);
        }
      }

      .child-pages__image {
        grid-area: image;

        img {
          height: auto;
          margin-top: rem(20);
          width: calc(100% - #{rem(20)});
        }

        &:nth-child(odd) img {
          box-shadow: rem(20) -1 * rem(20) 0 theme-color("pale-blue");
        }

        &:nth-child(even) img {
          box-shadow: rem(20) -1 * rem(20) 0 theme-color("pale-red");
        }
      }

      .child-pages__text {
        border-top: solid rem(3) theme-color("dark-blue");
        grid-area: text;
        margin: 0;
        padding-top: 1.875rem;
      }
    }
  }
}

@media screen and (min-width: $wp-blocks-breakpoint-xl) {
  .child-pages {
    &--card-with-excerpt {
      .child-pages__child {
        max-width: $wp-blocks-container-xl;
        padding-left: initial;
        padding-right: initial;
      }
    }
  }
}
