.wp-block-columns {
  border-top: solid rem(3) theme-color("dark-blue");
  margin: 0 auto;
  padding: rem(20) 0 0;
  width: calc(100vw - 2 * #{$gutter});
}

* + .wp-block-columns {
  margin-top: rem(80);
}

@media screen and (min-width: $wp-blocks-breakpoint-md) {
  .wp-block-columns {
    padding-top: rem(40);
  }

  .wp-block-columns.has-2-columns {
    column-gap: $gutter;
    display: grid;
    grid-template-columns: repeat(12, 1fr);

    .wp-block-column:first-of-type {
      grid-column: 1 / 5;
      margin: 0;
      width: 100% !important;
    }

    .wp-block-column:last-of-type {
      grid-column: 5 / 13;
      margin: 0;
      width: 100% !important;
    }
  }
}

@media screen and (min-width: $wp-blocks-breakpoint-xl) {
  .wp-block-columns {
    max-width: $wp-blocks-container-xl;
    padding-left: initial;
    padding-right: initial;
  }
}
