.wp-block-columns {
  display: flex;
  flex-wrap: wrap;
  border-top: solid rem(3) theme-color("dark-blue");
  margin: 0 auto;
  padding: rem(20) 0 0;
  width: calc(100vw - 2 * #{$gutter});

  .wp-block-column:not([style~="flex-basis"]) {
    flex-basis: 100%;
  }
}

* + .wp-block-columns {
  margin-top: rem(80);
}

* + .wp-block-wrap {
  margin-top: rem(80);
}

@media screen and (min-width: $wp-blocks-breakpoint-md) {
  .wp-block-columns {
    column-gap: $gutter;
    flex-wrap: nowrap;
    padding-top: rem(40);

    .wp-block-column:first-of-type {
      flex-basis: 33%;
      margin: 0;
    }

    .wp-block-column:last-of-type {
      flex-basis: 66%;
      margin: 0;
    }
  }
}

@media screen and (min-width: $wp-blocks-breakpoint-xl) {
  .wp-block-columns {
    max-width: $wp-blocks-container-xl;
    padding-left: initial;
    padding-right: initial;
  }
}
