.wp-block-image {
  /* width: auto; */
}

.wp-block-image > img {
  display: block;
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
}

.wp-block-image.alignfull figcaption,
.wp-block-image.alignwide figcaption {
  text-align: center;
}

.wp-block-image figure {
  padding: 0;
}

.wp-block-image figure.aligncenter {
  width: 100%;
  text-align: center;
}

.wp-block-image figure.alignleft {
  float: left;
  margin-right: var(--gutter);
  margin-left: 0;
}

.wp-block-image figure.alignright {
  float: right;
  margin-left: var(--gutter);
  margin-right: 0;
}

.wp-block-image figure.alignleft > img,
.wp-block-image figure.alignright > img,
.wp-block-image figure.alignleft > figcaption,
.wp-block-image figure.alignright > figcaption {
  margin-top: 0;
}

@media (--breakpoint-lg) {
  * + .wp-block-image {
    margin: var(--gutter) 0 0 0;
  }

  .wp-block-image img {
    width: auto;
  }

  .wp-block-image figcaption {
    width: auto;
    text-align: center;
    margin-top: calc(var(--gutter) / 2);
    margin-bottom: calc(var(--gutter) / 2);
  }

  .wp-block-image.alignleft img,
  .wp-block-image.alignleft figcaption {
    float: left;
    margin-right: var(--gutter);
  }

  .wp-block-image.alignleft figcaption {
    clear: left;
    margin-top: 0;
    margin-bottom: var(--gutter);
  }

  .wp-block-image.alignright img,
  .wp-block-image.alignright figcaption {
    float: right;
    margin-left: var(--gutter);
  }

  .wp-block-image.alignright figcaption {
    clear: right;
    margin-top: 0;
    margin-bottom: var(--gutter);
  }

  .wp-block-image.aligncenter img,
  .wp-block-image.aligncenter figcaption {
    width: 100%;
  }

  .wp-block-image.aligncenter figcaption {
    width: 100%;
    margin-top: 0;
    margin-bottom: var(--gutter);
    text-align: center;
  }
}
