.wp-block-media-text {
  padding-top: 1rem;

  &__media {
    margin: 0 0 0 rem(-30);
    width: calc(100vw - 1rem);
  }

  img {
    display: block;
    box-shadow: 1rem -1rem var(--pale-blue);
    width: 100%;
    height: auto;
  }

  &__content {
    padding: rem(22.5) 0;
  }
}

@media (--breakpoint-lg) {
  .wp-block-media-text {
    display: grid;
    grid-column-gap: var(--gutter);
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas: "text text text text media media media media media media media media";
    padding-top: 0;

    &__media {
      grid-area: media;
      margin: var(--gutter) 0 calc(-1 * var(--gutter)) 0;
      width: 100%;
    }

    img {
      box-shadow: var(--gutter) calc(-1 * var(--gutter)) var(--pale-blue);
    }

    &__content {
      display: flex;
      flex-direction: column;
      grid-area: text;
      justify-content: center;
    }
  }
}

@media (--breakpoint-xxl) {
  .wp-block-media-text {
    &.alignwide {
      grid-column: 2 / 15;
      grid-template-columns: repeat(13, 1fr);
      grid-template-areas: "text text text text media media media media media media media media media";
    }
  }
}
