.wp-block-pullquote {
  margin-top: $gutter;
  margin-bottom: $gutter;

  &.alignwide,
  &.alignfull {
    display: block;
    padding-left: $gutter;
    padding-right: $gutter;
  }

  &.alignwide p,
  &.alignfull p {
    font-size: 1rem;
    text-align: center;
  }

  &.alignwide blockquote,
  &.alignfull blockquote {
    margin-top: $gutter;
    margin-bottom: $gutter;
    font-size: 1rem;
  }

  &.alignwide blockquote p,
  &.alignfull blockquote p,
  &.alignwide cite,
  &.alignfull cite {
    display: block;
    text-align: center;
  }

  &.alignwide cite,
  &.alignfull cite {
    font-style: normal;
    text-transform: uppercase;
    text-align: center;
  }

  &.alignleft blockquote cite,
  &.alignright blockquote cite {
    text-transform: uppercase;
  }

  &.alignleft {
    text-align: left;
  }

  &.alignleft > blockquote {
    float: left;
    margin-right: ($gutter * 2);
  }

  &.alignright {
    text-align: right;
  }

  &.alignright blockquote {
    float: right;
    margin-left: ($gutter * 2);
  }

  figure:not(.alignleft, .alignright) {
    padding-left: $gutter;
    padding-right: $gutter;
  }
}

.wp-block-quote {
  margin-top: $gutter;
  margin-bottom: $gutter;
  font-size: 1rem;

  &.is-large blockquote p {
    font-size: var(--font-size-large);
  }

  &.is-large blockquote cite {
    font-size: 1rem;
  }

  &.alignwide blockquote p,
  &.alignfull blockquote p {
    font-size: var(--font-size-large);
    text-align: center;
  }

  &.alignwide blockquote cite {
    font-size: 1rem;
  }
}
