.wp-block-separator {
  display: block;
  clear: both;
  height: 0;
  margin: 0 auto;
  max-width: var(--container-lg);
  padding: var(--spacing-11) 0 calc(var(--base) * var(--multiplier));
  background: transparent;
  border-bottom: solid var(--border-medium) var(--blue);
  border-left: none;
  border-right: none;
  border-top: none;
  width: calc(100% - 2 * var(--gutter));
}

@media (--breakpoint-md) {
  .wp-block-separator {
    padding: var(--spacing-12) 0 var(--gutter);
  }
}
