.wp-block-separator {
  display: block;
  clear: both;
  height: 0;
  margin: 0 auto;
  max-width: $wp-blocks-container-xl;
  padding: rem(80) 0 rem(16);
  background: transparent;
  border-bottom: solid rem(3) var(--blue); // TODO: Border width variable
  border-left: none;
  border-right: none;
  border-top: none;
  width: calc(100% - #{2 * $gutter});
}

@media screen and (min-width: $wp-blocks-breakpoint-md) {
  .wp-block-separator {
    padding: rem(102) 0 $gutter;
  }
}
