button::-moz-focus-inner,
input::-moz-focus-inner,
select::-moz-focus-inner {
  border: 0;
}

label {
  display: block;
  font-weight: $semibold;
}

label * {
  margin-top: 0.3125rem;
}

[type="text"],
[type="email"],
[type="url"],
textarea {
  background-color: theme-color("white");
  border: solid rem(1) theme-color("grey");
  border-radius: $border-radius;
  display: block;
  font-family: $font-family-serif;
  font-size: 1rem;
  padding: 0.625rem 0.625rem 0.4375rem;
  width: 100%;
}

textarea {
  height: 7.375rem;
  max-width: 100%;
  min-width: 100%;
}

[type="text"]:focus,
[type="email"]:focus,
[type="url"]:focus,
textarea:focus {
  border: solid rem(3) theme-color("blue");
  color: theme-color("dark-mint");
  outline: 0;
  padding: 0.5rem 0.5rem 0.3125rem;
}

[type="text"].wpcf7-not-valid,
[type="email"].wpcf7-not-valid,
[type="url"].wpcf7-not-valid,
textarea.wpcf7-not-valid {
  border: solid rem(3) theme-color("dark-red");
  box-shadow: none;
  color: theme-color("dark-red");
  outline: 0;
  padding: 0.5rem 0.5rem 0.3125rem;
}

.wpcf7-not-valid-tip {
  background-image: url("../images/error.svg");
  background-position: left center;
  background-repeat: no-repeat;
  color: theme-color("dark-red");
  font-family: $font-family-sans;
  font-size: rem(14);
  font-weight: $semibold;
  padding-left: 1.5rem;
}

.wpcf7-response-output { display: none !important; } /* TODO: Fix this */
.wpcf7-validation-errors { display: none !important; } /* TODO: Fix this */

select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: theme-color("white");
  background-image: url(../images/chevron-down.svg);
  background-position: right 1em center;
  background-repeat: no-repeat;
  border: 0.0625rem solid theme-color("warm-grey");
  border-radius: $border-radius;
  color: theme-color("dark-mint");
  display: block;
  font-family: $font-family-serif;
  font-size: 1rem;
  margin: 0;
  max-width: 100%;
  padding: 0.5625rem 1rem;
  width: 100%;
}

select::-ms-expand {
  display: none;
}

select:hover {
  background-color: theme-color("light-grey");
  border-color: theme-color("dark-blue");
  color: theme-color("dark-blue");
}

select:focus {
  background-color: theme-color("light-grey");
  border-color: theme-color("dark-blue");
  color: theme-color("dark-blue");
  box-shadow: 0 0 0 0.0625rem theme-color("dark-blue"), 0 0 0 0.1875rem theme-color("light-grey"), 0 0 0 0.3125rem theme-color("dark-blue");
  outline: 0;
}

select option {
  font-weight: normal;
}

button,
[type="submit"] {
  background-color: theme-color("dark-blue");
  border: solid rem(1) theme-color("dark-blue");
  border-radius: $border-radius;
  color: theme-color("off-white");
  font-size: 1rem;
  font-family: $font-family-sans;
  font-weight: 600;
  height: auto;
  line-height: 1.5;
  max-width: 22.9375rem;
  min-height: 2.5rem;
  padding: 0.5625rem 1rem;
  width: auto;
}

button.is-style-primary {
  background-color: theme-color("dark-blue");
  border-color: theme-color("dark-blue");
  color: theme-color("off-white");
}

button.is-style-primary:hover,
[type="submit"]:hover {
  background-color: theme-color("blue");
  border-color: theme-color("blue");
  color: theme-color("off-white");
}

button.is-style-primary:focus,
[type="submit"]:focus {
  background-color: theme-color("blue");
  border-color: theme-color("blue");
  box-shadow: 0 0 0 0.125rem theme-color("off-white"), 0 0 0 0.25rem theme-color("blue");
  outline: 0;
}

button.is-style-primary-on-dark {
  background-color: theme-color("yellow");
  border-color: theme-color("yellow");
  color: theme-color("dark-mint");
}

button.is-style-primary-on-dark:hover {
  background-color: theme-color("dark-yellow");
  border-color: theme-color("dark-yellow");
  color: theme-color("off-white");
}

button.is-style-primary-on-dark:focus {
  background-color: theme-color("dark-yellow");
  border-color: theme-color("dark-yellow");
  box-shadow: 0 0 0 0.125rem theme-color("dark-mint"), 0 0 0 0.25rem theme-color("dark-yellow");
  outline: 0;
}

button.is-style-secondary,
button.is-style-secondary-on-white {
  border-color: theme-color("dark-blue");
  color: theme-color("dark-blue");
}

button.is-style-secondary {
  background-color: theme-color("off-white");
}

button.is-style-secondary:hover,
button.is-style-secondary-on-white:hover {
  background-color: theme-color("light-grey");
  border-color: theme-color("blue");
  color: theme-color("blue");
}

button.is-style-secondary:focus,
button.is-style-secondary-on-white:focus {
  background-color: theme-color("light-grey");
  border-color: theme-color("blue");
  color: theme-color("blue");
  box-shadow: 0 0 0 0.0625rem theme-color("blue"), 0 0 0 0.1875rem theme-color("light-grey"), 0 0 0 0.3125rem theme-color("dark-blue");
  outline: 0;
}

button.is-style-textonly {
  background-color: transparent;
  color: theme-color("blue");
  border: 0;
  border-radius: unset;
  height: auto;
  line-height: 2.5;
  max-width: 100vw;
  min-height: auto;
  margin: 0 0 0 -1 * $gutter;
  padding: 0 $gutter rem(12);
  text-align: left;
  width: 100vw;

  &::before {
    background-color: theme-color("light-blue");
    content: "";
    display: block;
    height: rem(3);
    margin-bottom: rem(12);
    width: 100%;
  }

  .icon {
    background-color: theme-color("blue");
    display: block;
    float: right;
    height: rem(40);
    margin-top: 0;
    mask-image: url("../images/chevron-down.svg");
    mask-position: center;
    mask-repeat: no-repeat;
    transition: transform 0.5s;
    width: 1rem;
  }

  &[aria-expanded="true"] {
    .icon {
      transform: rotate(180deg);
    }
  }

  &:hover,
  &:focus {
    background-color: theme-color("blue");
    color: theme-color("off-white");

    &::before {
      background-color: theme-color("blue");
    }

    .icon {
      background-color: theme-color("off-white");
    }
  }
}
