* + form {
  margin-top: var(--spacing-40);
}

button::-moz-focus-inner,
input::-moz-focus-inner,
select::-moz-focus-inner {
  border: 0;
}

label {
  display: block;
  font-weight: var(--semibold);
}

label * {
  margin-top: var(--spacing-5);
}

input,
textarea {
  -webkit-appearance: none;
}

[type="text"],
[type="email"],
[type="url"],
textarea {
  background-color: var(--white);
  border: solid var(--border-thin) var(--grey);
  border-radius: var(--border-radius);
  display: block;
  font-family: var(--font-family-serif);
  font-size: var(--font-size-base);
  padding: var(--spacing-10) var(--spacing-10) calc(var(--spacing-6) + var(--spacing-1));
  width: 100%;
}

textarea {
  height: 7.375rem;
  max-width: 100%;
  min-width: 100%;
}

[type="text"]:focus,
[type="email"]:focus,
[type="url"]:focus,
textarea:focus {
  border: solid var(--border-medium) var(--blue);
  color: var(--dark-mint);
  outline: 0;
  padding: var(--spacing-8) var(--spacing-8) var(--spacing-5);
}

[type="text"].wpcf7-not-valid,
[type="email"].wpcf7-not-valid,
[type="url"].wpcf7-not-valid,
textarea.wpcf7-not-valid {
  border: solid var(--border-medium) var(--dark-red);
  box-shadow: none;
  color: var(--dark-red);
  outline: 0;
  padding: var(--spacing-8) var(--spacing-8) var(--spacing-5);
}

.wpcf7-not-valid-tip {
  background-image: url("../images/error.svg");
  background-position: left center;
  background-repeat: no-repeat;
  color: var(--dark-red);
  font-family: var(--font-family-sans);
  font-size: var(--font-size-small);
  font-weight: var(--semibold);
  padding-left: var(--spacing-24);
}

.wpcf7-response-output { display: none !important; } /* TODO: Fix this */
.wpcf7-validation-errors { display: none !important; } /* TODO: Fix this */

select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: var(--white);
  background-image: url(../images/chevron-down.svg);
  background-position: right var(--spacing-16) center;
  background-repeat: no-repeat;
  border: var(--border-thin) solid var(--warm-grey);
  border-radius: var(--border-radius);
  color: var(--dark-mint);
  display: block;
  font-family: var(--font-family-serif);
  font-size: var(--font-size-base);
  margin: 0;
  max-width: 100%;
  padding: var(--spacing-10) var(--spacing-16);
  width: 100%;
}

select::-ms-expand {
  display: none;
}

select:hover {
  background-color: var(--light-grey);
  border-color: var(--dark-blue);
  color: var(--dark-blue);
}

select:focus {
  background-color: var(--light-grey);
  border-color: var(--dark-blue);
  color: var(--dark-blue);
  box-shadow: 0 0 0 var(--border-thin) var(--dark-blue), 0 0 0 var(--border-medium) var(--light-grey), 0 0 0 calc(5 * var(--border-thin)) var(--dark-blue);
  outline: 0;
}

select option {
  font-weight: normal;
}

button,
[type="submit"] {
  background-color: var(--dark-blue);
  border: solid var(--border-thin) var(--dark-blue);
  border-radius: var(--border-radius);
  color: var(--off-white);
  font-size: 1rem;
  font-family: var(--font-family-sans);
  font-weight: 600;
  height: auto;
  line-height: 1.5;
  max-width: 100%;
  min-height: var(--spacing-40);
  padding: var(--spacing-9) var(--spacing-16);
  width: auto;
}

button.is-style-primary {
  background-color: var(--dark-blue);
  border-color: var(--dark-blue);
  color: var(--off-white);
}

button.is-style-primary:hover,
[type="submit"]:hover {
  background-color: var(--blue);
  border-color: var(--blue);
  color: var(--off-white);
}

button.is-style-primary:focus,
[type="submit"]:focus {
  background-color: var(--blue);
  border-color: var(--blue);
  box-shadow: 0 0 0 var(--spacing-2) var(--off-white), 0 0 0 var(--spacing-4) var(--blue);
  outline: 0;
}

button.is-style-primary-on-dark {
  background-color: var(--yellow);
  border-color: var(--yellow);
  color: var(--dark-mint);
}

button.is-style-primary-on-dark:hover {
  background-color: var(--dark-yellow);
  border-color: var(--dark-yellow);
}

button.is-style-primary-on-dark:focus {
  background-color: var(--dark-yellow);
  border-color: var(--dark-yellow);
  box-shadow: 0 0 0 var(--spacing-2) var(--dark-mint), 0 0 0 var(--spacing-4) var(--dark-yellow);
  outline: 0;
}

button.is-style-secondary,
button.is-style-secondary-on-white {
  border-color: var(--dark-blue);
  color: var(--dark-blue);
}

button.is-style-secondary {
  background-color: var(--off-white);
}

button.is-style-secondary:hover,
button.is-style-secondary-on-white:hover {
  background-color: var(--light-grey);
  border-color: var(--blue);
  color: var(--blue);
}

button.is-style-secondary:focus,
button.is-style-secondary-on-white:focus {
  background-color: var(--light-grey);
  border-color: var(--blue);
  color: var(--blue);
  box-shadow: 0 0 0 var(--border-thin) var(--blue), 0 0 0 var(--border-medium) var(--light-grey), 0 0 0 calc(5 * var(--border-thin)) var(--dark-blue);
  outline: 0;
}

button.is-style-textonly {
  background-color: transparent;
  color: var(--blue);
  border: 0;
  border-radius: unset;
  height: auto;
  line-height: 2.5;
  max-width: 100vw;
  min-height: auto;
  margin: 0 0 0 calc(-1 * var(--gutter));
  padding: 0 var(--gutter) var(--spacing-12);
  text-align: left;
  width: 100vw;
}

button.is-style-textonly::before {
  background-color: var(--light-blue);
  content: "";
  display: block;
  height: var(--border-medium);
  margin-bottom: var(--spacing-12);
  width: 100%;
}

button.is-style-textonly .icon {
  background-color: var(--blue);
  display: block;
  float: right;
  height: var(--spacing-40);
  margin-top: 0;
  mask-image: url("../images/chevron-down.svg");
  mask-position: center;
  mask-repeat: no-repeat;
  transition: transform 0.5s;
  width: var(--spacing-16);
}

button.is-style-textonly[aria-expanded="true"] .icon {
  transform: rotate(180deg);
}

button.is-style-textonly:hover,
button.is-style-textonly:focus {
  background-color: var(--blue);
  color: var(--off-white);
}

button.is-style-textonly:hover::before,
button.is-style-textonly:focus::before {
  background-color: var(--blue);
}

button.is-style-textonly:hover .icon,
button.is-style-textonly:focus .icon {
  background-color: var(--off-white);
}

@media (--breakpoint-md) {
  * + form {
    margin-top: 0;
  }
}
