.tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  margin-top: var(--spacing-16);
  padding-left: 0;
}

.tags li {
  margin-right: var(--spacing-10);
  margin-top: var(--spacing-10);
}

.tags li + li {
  margin-top: var(--spacing-10);
}

.tags li a {
  background-color: var(--off-white);
  border: solid var(--border-thin) var(--dark-blue);
  border-radius: var(--border-radius);
  color: var(--dark-blue);
  font-size: var(--font-size-small);
  font-family: var(--font-family-sans);
  font-weight: var(--semibold);
  height: auto;
  line-height: 1.5;
  min-height: var(--spacing-40);
  padding: var(--spacing-2) var(--spacing-6);
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
}

.tags li a:hover {
  background-color: var(--light-grey);
  border-color: var(--blue);
  color: var(--dark-blue);
}

.tags li a:active,
.tags li a:focus {
  background-color: var(--light-grey);
  border-color: var(--blue);
  color: var(--blue);
  box-shadow: 0 0 0 var(--border-thin) var(--blue), 0 0 0 var(--border-medium) var(--light-grey), 0 0 0 calc(5 * var(--border-thin)) var(--dark-blue);
}
