@import "common/_fonts.css";
@import "common/_media-queries.css";
@import "common/_global.css";

/**
 * Base styles
 **/

@import "components/blocks/global/_colors.css";
@import "components/blocks/global/_spacing.css";
@import "components/blocks/global/_typography.css";
@import "components/blocks/global/_lists.css";

/**
* Block-specific styles
**/

@import "components/blocks/blocks/_child-pages.css";
@import "components/blocks/blocks/_button.css";
@import "components/blocks/blocks/_embed.css";
@import "components/blocks/blocks/_group.css";
@import "components/blocks/blocks/_image.css";
@import "components/blocks/blocks/_latest-posts.css";
@import "components/blocks/blocks/_quote.css";
@import "components/blocks/blocks/_separator.css";

body {
  min-height: auto;
  display: block;
}

.wp-block:not([data-align="full"]) {
  max-width: var(--container-lg);
}

.editor-post-title__block .editor-post-title__input {
  font-family: var(--font-family-display);
  font-size: var(--font-size-xxxl);
  font-weight: var(--bold);
  line-height: 1.25;
}

@media (--breakpoint-md) {
  .editor-post-title__block .editor-post-title__input {
    font-size: var(--font-size-max);
  }
}
