@import "common/functions";
@import "common/variables";
@import "common/fonts";
// @import "common/global";
@import "components/blocks/base/mixins";

/**
 * Base styles
 **/
@import "components/blocks/global/spacing";
@import "components/blocks/global/colors";
@import "components/blocks/global/typography";
@import "components/blocks/global/lists";
@import "components/blocks/global/preformatted";

/**
 * Block-specific styles
 **/
@import "components/blocks/blocks/button";
@import "components/blocks/blocks/child-pages";
@import "components/blocks/blocks/embed";
// @import "components/blocks/blocks/media-text";
@import "components/blocks/blocks/image";
@import "components/blocks/blocks/separator";
@import "components/blocks/blocks/quote";
@import "components/blocks/blocks/latest-posts";

.wp-block:not([data-align="full"]) {
  max-width: $wp-blocks-container-xl;
}

.editor-post-title__block .editor-post-title__input {
  font-family: $font-family-display;
  font-size: rem(36);
  font-weight: $bold;
  line-height: (70 / 36);
}

@media screen and (min-width: $wp-blocks-breakpoint-md) {
  .editor-post-title__block .editor-post-title__input {
    font-size: font-size("max");
    letter-spacing: -0.03rem;
    line-height: (74 / 60);
  }
}
