.error404 {
  .page-header {
    @include blocks-contain();
  }

  .page-header__inside,
  .page-header__content {
    min-height: auto;
  }

  .page-header__content {
    padding-top: rem(80);
  }

  .content {
    @include blocks-contain();

    margin-bottom: rem(40);

    p {
      @extend h1;
    }
  }
}

@media screen and (min-width: $wp-blocks-breakpoint-lg) {
  .error404 {
    .page-header__content {
      padding-top: rem(100);
    }

    .content {
      margin-bottom: rem(100);
    }
  }
}

@media screen and (min-width: $wp-blocks-breakpoint-xl) {
  .error404 {
    .page-header__inside {
      grid-column: 1 / 15;
      grid-template-columns: repeat(12, 1fr);
    }
  }
}
