.single-pcc-event {
  .pcc-event {
    .wp-post-image {
      display: block;
      height: rem(136);
      max-height: rem(300);
      margin: 0 auto;
      overflow: hidden;
      width: auto;
      max-width: 100vw;
    }

    .ribbon {
      height: rem(58);
      position: relative;
      background-color: theme-color("white");
    }

    .ribbon button {
      border: 0;
      border-radius: 0;
      position: absolute;
      bottom: 0;
      width: rem(30);
      height: rem(58);
      padding: 0;
      background-color: theme-color("dark-blue");
      mask-position: center;
      mask-repeat: no-repeat;
      mask-size: rem(7.21) rem(12);

      &::before {
        display: none;
      }

      &.scroll-left {
        mask-image: url(../images/chevron-left.svg);
        left: 0;
      }

      &.scroll-right {
        mask-image: url(../images/chevron-right.svg);
        right: 0;
        z-index: 99;
      }
    }

    .ribbon nav {
      padding: 0 rem(30);
      position: relative;

      &::after {
        display: block;
        content: "";
        width: rem(68);
        height: rem(58);
        position: absolute;
        top: 0;
        right: 0;
        background: linear-gradient(to right, rgba(249, 249, 247, 0) 0%, rgba(249, 249, 247, 1) 100%);
      }
    }

    .ribbon ul {
      margin-top: 0;
      list-style: none;
      padding-left: 0;
      white-space: nowrap;
      overflow-x: auto;
      overflow-y: hidden;
      -webkit-overflow-scrolling: touch;
      -ms-overflow-style: -ms-autohiding-scrollbar;
    }

    .ribbon li {
      display: inline-block;

      + li {
        margin-top: 0;
      }
    }

    .ribbon .menu-item--last {
      position: relative;

      &::after {
        content: "";
        display: block;
        position: absolute;
        width: rem(30);
        height: 1px;
        right: rem(-30);
      }
    }

    .ribbon li a:not(.wp-block-button__link) {
      display: block;
      background: theme-color("white");
      border-bottom: 0;
      color: theme-color("dark-blue");
      font-size: 1rem;
      font-weight: normal;
      min-height: 0;
      padding: rem(17) 1rem;
      position: relative;

      &::after {
        background-color: transparent;
        bottom: 0;
        content: "";
        height: rem(3);
        left: 0;
        margin-left: 1rem;
        position: absolute;
        width: calc(100% - 2rem);
      }

      &:hover {
        background-color: white;
        color: theme-color("dark-blue");
        border-left-color: transparent;

        &::after {
          background-color: theme-color("dark-blue");
        }
      }

      &:focus {
        background-color: theme-color("dark-blue");
        color: theme-color("off-white");
        border-left-color: transparent;
        outline: 0;
      }

      &[rel="current"],
      &.parent {
        &::after {
          background-color: theme-color("red");
        }
      }
    }

    .ribbon li.wp-block-button {
      display: block;
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100vw;
      margin: 0;
      padding: rem(10) rem(30);
      background-color: theme-color("white");
      box-shadow: 0 rem(-3) rem(6) rgba(0, 0, 0, 0.16);

      .wp-block-button__link {
        width: calc(100vw - #{rem(60)});
      }
    }

    .participants,
    .sponsors {
      list-style: none;
      padding-left: 0;
    }

    .participant__image {
      display: flex;
      flex-direction: column;
      height: rem(150);
      justify-content: center;
      margin: 0 0 rem(16);
      overflow: hidden;

      img {
        height: auto;
        width: 100%;
      }
    }

    .participant__name a {
      font-family: $font-family-serif;
      font-weight: normal;
    }

    header {
      padding-left: $gutter;
      padding-right: $gutter;
      margin-top: rem(33.5);
    }

    .event-type {
      font-family: $font-family-sans;
      font-weight: bold;
      font-size: rem(18);
    }
  }
}

@media screen and (min-width: $wp-blocks-breakpoint-lg) {
  .single-pcc-event {
    .pcc-event {
      .ribbon {
        @include blocks-contain();

        background-color: inherit;

        button {
          display: none;
        }

        nav {
          padding: 0;

          ul {
            display: flex;
            flex-direction: row;
            height: rem(70);
            align-items: center;
            justify-content: flex-start;
            list-style: none;
            padding-left: 0;
          }

          li {
            display: block;

            &.wp-block-button {
              display: block;
              position: relative;
              float: right;
              padding: 0;
              box-shadow: none;
              width: auto;
              margin-left: auto;

              .wp-block-button__link {
                border-bottom: 0;
                width: auto;
              }
            }
          }

          a {
            border-bottom: solid rem(3) transparent;

            &[rel="current"],
            &.parent {
              border-bottom-color: theme-color("red");
            }

            &:not(.wp-block-button__link) {
              background-color: transparent;
            }
          }

          &::after {
            display: none;
          }
        }
      }

      header {
        @include blocks-contain();

        display: grid;
        column-gap: $gutter;
        grid-template-columns: repeat(12, 1fr);

        section { // TODO: More specific.
          grid-column: 1 / 10;
        }

        .breadcrumb {
          margin: rem(60) 0 0;
        }

        .event-type {
          font-family: $font-family-sans;
          font-weight: bold;
          margin: rem(60) 0 0;
        }

        h1 {
          margin: rem(30) 0 rem(80);
        }

        .meta {
          display: flex;
          flex-direction: column;
          grid-column: 10 / 13;
          justify-content: center;

          p {
            text-indent: -0.75rem;
            margin-left: 1.5rem;

            &::before {
              content: "\e90a";
              display: inline-block;
              /* stylelint-disable */
              font-family: "pcc";
              /* stylelint-enable */
              font-size: rem(12);
              margin-right: rem(12);
            }

            + p {
              margin-top: rem(12);

              &::before {
                content: "\e909";
              }
            }
          }
        }
      }

      &.child {
        header {
          grid-template-rows: repeat(auto, 2);
          grid-template-columns: repeat(1fr, 12);
          margin-bottom: rem(80);

          section {
            grid-column: 1 / 13;
            grid-row: 1 / 2;
          }

          .meta {
            grid-column: 1 / 13;
            grid-row: 2 / 3;
          }
        }
      }
    }
  }
}
