.single-pcc-event .banner {
  box-shadow: none;
}

.single-pcc-event .event-banner {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.single-pcc-event .event-banner__picture {
  max-width: 100vw;
  margin: 0 auto;
}

.single-pcc-event .event-banner__picture img {
  display: block;
  max-width: 100% !important;
}

.single-pcc-event .event-banner__video {
  width: 100%;
  height: auto;
}

.single-pcc-event .event-banner--video .event-banner__picture {
  display: none;
}

@media (prefers-reduced-motion: reduce) {
  .single-pcc-event .event-banner--video .event-banner__picture {
    display: block;
  }

  .single-pcc-event .event-banner--video .event-banner__video {
    display: none;
  }
}

.single-pcc-event .event-header {
  margin-top: calc(33.5 / var(--multiplier) * var(--base));
  margin-bottom: var(--spacing-72);
  width: 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--gutter);
  padding-right: var(--gutter);
}

.single-pcc-event .event-header h1 {
  margin-top: var(--spacing-16);
}

.single-pcc-event .event-header .meta {
  margin-top: var(--spacing-18);
}

.single-pcc-event .event-header .meta svg {
  display: inline-block;
}

.single-pcc-event .event-header .address {
  margin-top: 0;
}

.single-pcc-event .ribbon.sticky + .event-header {
  margin-top: calc(93.5 / var(--multiplier) * var(--base));
}

.single-pcc-event .participants,
.single-pcc-event .sponsors {
  list-style: none;
  padding-left: 0;
}

.single-pcc-event .sponsors {
  margin-top: var(--spacing-16);
  margin-bottom: var(--spacing-80);
}

.single-pcc-event p.event-type {
  font-family: var(--font-family-sans);
  font-size: var(--font-size-moderate);
  font-weight: bold;
  margin-top: var(--spacing-16);
}

.single-pcc-event .program-nav {
  padding: 0;
}

.single-pcc-event .program-nav a {
  margin-left: 1.25rem;
}

.single-pcc-event .program__day {
  list-style: none;
  padding-left: 0;
}

.single-pcc-event .session {
  border-bottom: solid var(--border-thin) var(--dark-green);
  padding-bottom: var(--spacing-30);
}

.single-pcc-event .session + .session {
  margin-top: var(--spacing-30);
}

.single-pcc-event .session:last-child {
  border-bottom: 0;
}

.single-pcc-event .session__time,
.single-pcc-event .session__title {
  font-family: var(--font-family-sans);
  font-size: var(--font-size-medium);
}

.single-pcc-event .session__title svg {
  height: var(--spacing-12);
  width: auto;
}

.single-pcc-event .session__location {
  font-size: var(--font-size-small);
  color: var(--warm-grey);
  margin-top: var(--spacing-8);
}

.single-pcc-event .session__location svg {
  height: var(--spacing-10);
  width: auto;
}

.single-pcc-event .session__participants {
  margin-top: var(--spacing-12);
}

@media (--breakpoint-lg) {
  .single-pcc-event .banner {
    box-shadow: 0 var(--border-medium) var(--border-wide) rgba(0, 0, 0, 0.16);
  }

  .single-pcc-event .event-header {
    max-width: var(--container-lg);
    display: grid;
    column-gap: var(--gutter);
    grid-template-columns: repeat(12, 1fr);
  }

  .single-pcc-event .event-header section {
    grid-column: 1 / 10;
  }

  .single-pcc-event .event-header .breadcrumb {
    margin-top: var(--spacing-60);
    margin-bottom: 0;
  }

  .single-pcc-event .event-header .event-type {
    font-family: var(--font-family-sans);
    font-weight: bold;
    margin-top: var(--spacing-60);
    margin-bottom: 0;
  }

  .single-pcc-event .event-header h1 {
    margin-top: var(--spacing-30);
    margin-bottom: var(--spacing-80);
  }

  .single-pcc-event .event-header .meta {
    display: flex;
    flex-direction: column;
    grid-column: 10 / 13;
    justify-content: center;
  }

  .single-pcc-event .event-header .meta p {
    margin-left: var(--spacing-24);
    position: relative;
  }

  .single-pcc-event .event-header .meta p.address {
    margin-top: var(--spacing-12);
  }

  .single-pcc-event .pcc-event .sponsors {
    margin-bottom: var(--spacing-80);
  }

  .single-pcc-event .pcc-event.child .event-header {
    grid-template-rows: repeat(auto, 2);
    grid-template-columns: repeat(1fr, 12);
    margin-bottom: var(--spacing-80);
  }

  .single-pcc-event .pcc-event.child .event-header section {
    grid-column: 1 / 13;
    grid-row: 1 / 2;
  }

  .single-pcc-event .pcc-event.child .event-header .meta {
    grid-column: 1 / 13;
    grid-row: 2 / 3;
  }

  .single-pcc-event .pcc-event.child .event-header .meta p {
    margin-left: 0;
  }

  .single-pcc-event .session {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
  }

  .single-pcc-event .session__time {
    grid-column: 0 / 2;
  }

  .single-pcc-event .session__info {
    grid-column: 3 / 9;
  }
}

@media (--breakpoint-xl) {
  .single-pcc-event .event-header {
    padding-left: initial;
    padding-right: initial;
  }
}
