#footer {
  background: var(--dark-mint);
  color: var(--off-white);
  font-family: var(--font-family-sans);
  padding-top: var(--spacing-40);
  width: 100%;
}

#footer .column + .column {
  border-top: solid var(--border-medium) var(--off-white);
  margin-top: var(--spacing-60);
  padding-top: var(--spacing-20);
}

#footer ul {
  list-style: none;
  padding-left: 0;
}

#footer h2 {
  color: var(--off-white);
  font-size: var(--font-size-moderate);
  line-height: calc(26 / 18);
}

#footer h2,
#footer p {
  margin-bottom: var(--spacing-20);
}

#footer * + .content,
#footer * + p {
  margin-top: var(--spacing-20);
}

#footer .label {
  margin-bottom: 0;
}

#footer .label + p {
  margin-top: 0;
}

#footer a.inherit {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
}

#footer a.inherit::after {
  display: none;
}

#footer .license {
  line-height: var(--spacing-40);
}

#footer .license a {
  color: var(--light-blue);
  border-bottom: 0;
  display: inline-block;
  padding-top: var(--spacing-6);
}

#footer .license a::after {
  display: none;
}

#footer .license svg {
  height: 22px;
  width: 22px;
}

#footer .license svg + svg {
  margin-left: 4px;
}

#footer .wp-block-button {
  margin-top: 30px;
}

#footer .logo {
  border-bottom: solid var(--border-medium) transparent;
  display: inline-block;
  height: 66.5px;
  padding-bottom: 16px;
  width: 172.77px;
}

#footer .logo--usfwc {
  width: 50.5px;
  height: 66.5px;
  float: right;
}

#footer .logo:hover {
  color: var(--white);
}

#footer .logo:focus {
  background-color: transparent;
  border-bottom-color: var(--white);
  color: var(--white);
}

#footer .logo svg {
  height: 50.5px;
  width: 172.77px;
}

#footer .logo--usfwc svg {
  width: 50.5px;
  height: 50.5px;
}

#footer nav {
  margin: 16px 0 20px;
}

#footer nav ul#menu-footer {
  list-style: none;
  padding-left: 0;
}

#footer nav ul#menu-footer a {
  font-family: var(--font-family-sans);
  font-weight: normal;
}

#footer nav ul#menu-footer li + li {
  margin-top: 8px;
}

#footer a {
  font-weight: normal;
}

#footer a:not([rel="external"])::after {
  content: "\e901";
  /* stylelint-disable */
  font-family: "pcc";
  /* stylelint-enable */
  font-size: 12px;
  margin-left: 8px;
}

#footer a[href^="mailto:"]::after {
  content: "\e900";
  /* stylelint-disable */
  font-family: "pcc";
  /* stylelint-enable */
  font-size: 12px;
  margin-left: 8px;
  padding-right: 4px;
}

#footer a.logo::after {
  content: "";
  margin-left: 0;
}

#footer a:not(.wp-block-button__link) {
  color: var(--off-white);
}

#footer a:not(.wp-block-button__link):hover {
  color: var(--light-blue);
}

#footer .social {
  height: 35px;
  list-style: none;
  padding-left: 0;
}

#footer .social li {
  display: inline-block;
  height: 35px;
}

#footer .social li + li {
  margin-top: 0;
  padding-left: 10px;
}

#footer .social .social__link {
  border-bottom: 0;
  border-radius: 50%;
  color: var(--light-blue);
  display: inline-block;
  height: 35px;
  width: 35px;
}

#footer .social .social__link::after {
  content: "";
  margin-left: 0;
}

#footer .social .social__link:hover {
  border-bottom: 0;
  color: var(--off-white);
}

#footer .social .social__link:focus {
  background-color: transparent;
  box-shadow: 0 0 0 2px var(--dark-mint), 0 0 0 4px var(--light-blue);
  color: var(--off-white);
}

#footer .social .social__link svg {
  color: inherit;
  height: var(--spacing-34);
  width: var(--spacing-34);
}

#footer .social .social__link svg * {
  color: inherit;
}

@media (--breakpoint-lg) {
  #footer {
    padding: var(--spacing-60) 0;
  }

  #footer .container {
    column-gap: var(--gutter);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  #footer .column {
    margin-left: 0;
    margin-right: 0;
  }

  #footer .column + .column {
    margin-top: 0;
  }

  #footer .logo {
    height: 62.77px;
    width: 160px;
  }

  #footer .logo--usfwc {
    width: 46.77px;
  }

  #footer .logo svg {
    height: 46.77px;
    width: 160px;
  }

  #footer .logo--usfwc svg {
    height: 46.77px;
    width: 46.77px;
  }

  #footer nav {
    margin-bottom: var(--spacing-40);
  }
}
