.banner {
  background-color: theme-color("white");
  box-shadow: 0 rem(3) rem(6) rgba(0, 0, 0, 0.16);
  height: rem(68);
  position: relative;
  width: 100%;
  z-index: 2;

  .no-js & {
    height: auto;
  }

  .container {
    @include blocks-contain();
  }
}

.brand {
  border-bottom: solid rem(3) transparent;
  color: theme-color("dark-mint");
  display: block;
  float: left;
  height: rem(68);
  padding-bottom: rem(13.4);
  padding-top: rem(15.4);
  position: relative;
  width: rem(144);

  svg {
    height: rem(39.26);
    width: rem(144);
  }

  &:hover,
  &:focus {
    background-color: transparent;
    border-bottom-color: theme-color("dark-blue");
    color: theme-color("dark-mint");
    outline: 0;
  }
}

.menu-toggle {
  background: transparent;
  border: solid rem(3) transparent;
  border-radius: 0;
  color: theme-color("dark-blue");
  display: flex;
  flex-direction: row;
  align-items: center;
  float: right;
  font-family: $font-family-display;
  font-size: rem(14);
  font-weight: $semibold;
  height: rem(40);
  justify-content: center;
  margin: rem(14) 0 rem(14) 0;
  max-width: 100%;
  padding: 0 rem(8) 0;
  position: relative;
  width: auto;
  -moz-appearance: none;
  -webkit-appearance: none;

  .open {
    display: inline-block;
    margin-right: rem(13);
    height: rem(12);
    vertical-align: middle;
    width: rem(16);
  }

  .close {
    color: theme-color("white");
    display: none;
  }

  .no-js & {
    display: none;
  }

  &:focus {
    border-color: theme-color("blue");
    outline: 0;
  }

  &[aria-expanded="true"] {
    // background-image: url("../images/close.svg");
    background-position: center;
    background-size: rem(9.088) rem(9.088);
    margin: rem(10.25) rem(-24) rem(10.25) 0;
    padding: 0;
    width: rem(40);
    z-index: 2;

    .open {
      display: none;
    }

    .close {
      display: inline-block;
    }

    .label {
      @extend .screen-reader-text;
    }

    & + #menu-primary {
      display: block;
      z-index: 1;
    }
  }
}

#menu-primary {
  background-color: theme-color("dark-mint-light");
  display: none;
  position: absolute;
  left: 0;
  list-style: none;
  margin: 0;
  padding-left: 0;
  padding-top: rem(60.5);
  top: 0;
  width: 100vw;

  a,
  button {
    border-bottom: 0;
    border-left: solid rem(3) transparent;
    border-radius: 0;
    border-right: 0;
    border-top: 0;
    color: theme-color("off-white");
    display: block;
    font-family: $font-family-sans;
    font-size: 1rem;
    font-weight: $bold;
    margin: 0;
    max-width: 100%;
    min-height: rem(60.5);
    line-height: 1.75;
    padding: rem(15.5) rem(17) rem(13.5);
    position: relative;
    text-decoration: none;

    &:hover,
    &:focus {
      background-color: theme-color("dark-mint");
      border-left: solid rem(3) theme-color("red");
      outline: 0;
    }

    &:active {
      background-color: theme-color("dark-mint");
    }
  }

  button {
    background-color: transparent;
    text-align: left;
    width: 100%;

    .icon {
      background-color: theme-color("off-white");
      display: block;
      float: right;
      height: 1rem;
      margin-top: rem(3.2);
      mask-image: url("../images/chevron-down.svg");
      mask-position: center;
      mask-repeat: no-repeat;
      transition: transform 0.5s;
      width: 1rem;
    }

    &[aria-expanded="true"] {
      .icon {
        transform: rotate(180deg);
      }

      + ul {
        display: block;
        z-index: 1;
      }
    }
  }

  [aria-current],
  .current-menu-parent button {
    background-color: theme-color("blue");
    border-left: solid rem(3) theme-color("off-white");

    &:hover,
    &:focus {
      background-color: theme-color("dark-mint");
      border-left: solid rem(3) theme-color("red");
    }
  }

  ul {
    display: none;
    list-style: none;
    padding-left: 0;

    a {
      font-weight: normal;
      padding-left: 2.5rem;
    }
  }

  li {
    border-top: solid rem(1) theme-color("dark-mint");
  }

  li + li {
    margin-top: 0;
  }

  .no-js & {
    display: block;
    float: left;
    padding-top: 0;
    position: relative;
    margin-left: -1.875rem;

    ul {
      display: block;
    }
  }
}

@media screen and (min-width: $wp-blocks-breakpoint-lg) {
  .banner {
    height: rem(109.5);

    .no-js & {
      height: rem(109.5);
    }
  }

  .brand {
    height: rem(109.5);
    padding: rem(39.5) 0 rem(18);
    width: rem(186);

    svg {
      height: rem(52);
      width: rem(186);
    }
  }

  .menu-toggle {
    display: none;

    &[aria-expanded="true"] + #menu-primary {
      display: flex;
      float: right;
      position: relative;
    }
  }

  #menu-primary {
    align-items: flex-end;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    height: rem(109.5);
    justify-content: flex-end;
    float: right;
    padding-top: 0;
    position: relative;
    width: auto;

    a,
    button {
      background: theme-color("white");
      color: theme-color("dark-blue");
      font-size: 1rem;
      font-weight: normal;
      min-height: 0;
      padding: rem(17) 1rem;

      &::after {
        background-color: transparent;
        bottom: 0;
        content: "";
        height: rem(3);
        left: 0;
        margin-left: 1rem;
        position: absolute;
        width: calc(100% - 2rem);
      }

      &:hover {
        background-color: white;
        color: theme-color("dark-blue");
        border-left-color: transparent;

        &::after {
          background-color: theme-color("dark-blue");
        }
      }

      &:focus {
        background-color: theme-color("dark-blue");
        color: theme-color("off-white");
        border-left-color: transparent;
        outline: 0;
      }
    }

    button {
      .icon {
        background-color: theme-color("dark-blue");
        margin-left: rem(8);
        margin-top: rem(6);
      }

      &:focus {
        .icon {
          background-color: theme-color("off-white");
        }
      }
    }

    .current-menu-parent button {
      .icon {
        background-color: theme-color("dark-mint");
      }

      &:hover .icon {
        background-color: theme-color("dark-blue");
      }

      &:focus {
        color: white;
        background-color: theme-color("dark-blue");

        .icon {
          background-color: theme-color("white");
        }
      }
    }

    [aria-current],
    .current-menu-parent button {
      color: theme-color("dark-mint");
      background-color: theme-color("white");
      border-left-color: transparent;

      &::after {
        background-color: theme-color("red");
      }

      &:hover {
        background-color: theme-color("white");
        border-left-color: transparent;

        &::after {
          background-color: theme-color("dark-blue");
        }
      }

      &:focus {
        border-left-color: transparent;

        &::after {
          background-color: theme-color("dark-blue");
        }
      }
    }

    [aria-current]:focus {
      color: white;
      background: theme-color("dark-blue");
    }

    ul {
      border: rem(1) solid theme-color("light-grey");
      border-radius: $border-radius;
      box-shadow: 0 rem(3) rem(6) rgba(0, 0, 0, 0.16);
      position: absolute;

      a,
      [aria-current] {
        &:hover,
        &:focus {
          color: white;
          background: theme-color("blue");
          border-left-color: transparent;
        }
      }

      a {
        padding: 1rem rem(14);

        &::after {
          display: none;
        }
      }

      [aria-current] {
        border-left-color: theme-color("red");
      }
    }

    li {
      border-top: 0;
    }

    > li + li {
      margin-left: rem(18);
    }

    .no-js & {
      display: flex;
      float: right;
      position: relative;

      ul {
        display: none;
      }
    }
  }
}
