.page {
  main {
    background-color: theme-color("white");

    .content {
      background-color: theme-color("off-white");
      padding-bottom: rem(140);
      padding-top: rem(104);
    }
  }

  &-plain {
    main {
      background-color: theme-color("white");

      .content {
        background: theme-color("off-white");

        h2 {
          color: theme-color("dark-blue");
          font-size: rem(18);
          line-height: (26 / 18);
          margin: rem(40) 0 rem(12);
        }

        @media screen and (min-width: $wp-blocks-breakpoint-md) {
          h2 {
            font-size: rem(20);
            line-height: (30 / 20);
            margin: 0 0 rem(12);
          }

          * + h2 {
            margin-top: rem(40);
          }
        }
      }

      .meta p {
        margin-top: 0;
      }
    }
  }
}

.page-header {
  position: relative;

  &__inside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: rem(340);
    padding-top: rem(16);
  }

  .breadcrumb {
    margin: rem(40) 0 0;
  }

  h1 {
    line-height: (44 / 36);
    margin: rem(30) 0 0;
  }

  .subhead {
    margin: rem(30) 0 rem(40);
  }

  &__media {
    margin: 0;
    width: calc(100vw - 1rem);
  }

  img {
    display: block;
    box-shadow: 1rem -1rem theme-color("pale-blue");
    width: 100%;
    height: auto;
  }

  &__content {
    padding: 0 $gutter;

    *:last-child {
      margin-bottom: rem(40);
    }
  }

  &--media {
    .breadcrumb {
      margin: rem(40) 0 0;
    }
  }

  .fold {
    bottom: rem(-56);
    left: calc(50% - #{rem(11)} / 2);
    position: absolute;

    @media screen and (min-width: $wp-blocks-breakpoint-lg) {
      bottom: rem(-95);
    }
  }
}

@media screen and (min-width: $wp-blocks-breakpoint-md) {
  .content .wp-block-group.donate {
    padding: rem(90) 0;
  }

  .page-header {
    width: $wp-blocks-wide-align-width;
    max-width: calc((#{$wp-blocks-container-xl} - (11 * #{rem(30)})) / 12 * 2 + #{rem(60)} + #{$wp-blocks-container-xl});
  }
}

@media screen and (min-width: $wp-blocks-breakpoint-lg) {
  .page-header {
    padding: 0 $gutter;

    &__inside {
      display: grid;
      grid-column-gap: $gutter;
      grid-template-areas: "text text text text text text text text text text text text";
      grid-template-columns: repeat(12, 1fr);
      min-height: rem(480);
      padding-top: 0;
    }

    &--media {
      .page-header__inside {
        grid-template-areas: "text text text text media media media media media media media media";
      }
    }

    .breadcrumb {
      margin: 0;
    }

    h1 {
      margin: rem(80) 0 0;
    }

    .subhead {
      margin: rem(40) 0 0;
    }

    &__media {
      grid-area: media;
      margin: $gutter 0 (-1 * $gutter) 0;
      width: 100%;
    }

    img {
      box-shadow: $gutter (-1 * $gutter) theme-color("pale-blue");
    }

    &__content {
      display: flex;
      flex-direction: column;
      grid-area: text;
      justify-content: center;
      min-height: rem(412);
      padding: 0;

      *:last-child {
        margin-bottom: 0;
      }
    }
  }
}

@media screen and (min-width: $wp-blocks-breakpoint-xxl) {
  .page-header {
    column-gap: $gutter;
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    margin-left: auto;
    margin-right: auto;
    max-width: calc((#{$wp-blocks-container-xl} - (11 * #{rem(30)})) / 12 * 2 + #{rem(60)} + #{$wp-blocks-container-xl});
    padding: 0;
    width: 100%;

    &__inside {
      grid-column: 2 / 15;
      grid-template-columns: repeat(13, 1fr);
      grid-template-areas: "text text text text text text text text text text text text text";
    }

    &--media {
      .page-header__inside {
        grid-template-areas: "text text text text media media media media media media media media media";
      }
    }
  }
}

@import "pages/home";
@import "pages/vision-principles";
@import "pages/benefits";
@import "pages/persona";
@import "pages/contact-us";
