.page-people #content {
  background-color: var(--off-white);
  padding-top: var(--spacing-72);
}

.page-people .card .text {
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.single-pcc-person h1 {
  background-color: var(--white);
  padding-right: 1rem;
}

.single-pcc-person h1 + p {
  margin-top: var(--spacing-30);
}

.single-pcc-person .locality {
  font-style: italic;
  margin-top: 0;
}

.single-pcc-person main {
  background: var(--white);
}

.single-pcc-person main .entry-content {
  background-color: var(--off-white);
  padding-bottom: var(--spacing-140);
  padding-top: var(--spacing-102);
}

.single-pcc-person main .links {
  list-style: none;
  padding-left: 0;
  margin-top: var(--spacing-16);
}

.single-pcc-person main .links li + li {
  margin-top: var(--gutter);
}

.single-pcc-person main .links a {
  padding: 0;
  position: relative;
  margin-left: var(--spacing-40);
}

.single-pcc-person main .links a svg {
  border-radius: 50%;
  fill: currentColor;
  height: calc(35 / var(--multiplier) * var(--base));
  width: calc(35 / var(--multiplier) * var(--base));
  left: calc(-1 * var(--spacing-40));
  position: absolute;
  top: calc(-1 * var(--spacing-5));
}

.single-pcc-person main .links a:focus svg {
  background-color: var(--blue);
  box-shadow: 0 0 0 var(--spacing-2) var(--blue);
  fill: currentColor;
  height: calc(35 / var(--multiplier) * var(--base));
  vertical-align: middle;
  width: calc(35 / var(--multiplier) * var(--base));
}

.single-pcc-person main .links + * {
  margin-top: var(--spacing-60);
}

@media (--breakpoint-lg) {
  .single-pcc-person .page-header__content p {
    max-width: calc(22.91666666666 * 1rem);
  }
}
