// TODO: Style profile page

.single-pcc-person h1 + .title {
  margin-top: rem(30);
}

.single-pcc-person main {
  background: var(--white);
}

.single-pcc-person main .content {
  background-color: var(--off-white);
  padding-bottom: rem(140);
  padding-top: rem(104);
}
