@import "../../../common/variables";
$dark-colors: dark-green green dark-red red dark-blue blue dark-mint dark-mint-light;

@each $name, $color in $wp-blocks-colors {
  .has-#{$name}-color {
    color: $color;
  }

  .has-#{$name}-background-color {
    background-color: $color;
  }

  .has-#{$name}-background-color.has-background-dim {
    background-color: rgba($color, 0.5) !important;
  }

  @for $i from 1 through 10 {
    .has-#{$name}-background-color.has-background-dim-#{ $i * 10 } {
      background-color: rgba($color, $i * 0.1) !important;
    }
  }
}

@each $color in $dark-colors {
  .has-#{$color}-background-color *:not(.has-text-color) {
    color: var(--off-white);

    h2,
    h3,
    h4 {
      color: var(--off-white);
    }
  }
}
