
.is-style-subhead {
  font-family: var(--font-family-sans);
  font-size: var(--font-size-moderate);
  font-weight: var(--bold);
  line-height: 1.625;
}

.has-small-font-size {
  font-size: var(--font-size-small);
}

.has-moderate-font-size {
  font-size: var(--font-size-moderate);
}

.has-medium-font-size {
  font-size: var(--font-size-medium);
}

.has-large-font-size {
  font-size: var(--font-size-large);
}

.has-larger-font-size {
  font-size: var(--font-size-larger);
}

.has-xl-font-size {
  font-size: var(--font-size-xl);
}

.has-xxl-font-size {
  font-size: var(--font-size-xxl);
}

.has-xxxl-font-size {
  font-size: var(--font-size-xxxl);
}

.has-huge-font-size {
  font-size: var(--font-size-huge);
}

.has-max-font-size {
  font-size: var(--font-size-max);
}

h1,
h2,
h3 {
  font-family: var(--font-family-display);
  font-weight: var(--bold);
}

h1 {
  font-size: var(--font-size-xxxl);
  line-height: calc(44 / 36);
}

h2 {
  color: var(--dark-blue);
  font-size: var(--font-size-larger);
  line-height: calc(34 / 26);
  margin: 0 0 var(--spacing-20);
}

* + h2 {
  margin-top: var(--spacing-20);
}

h3 {
  color: var(--dark-blue);
  font-size: var(--font-size-moderate);
  line-height: calc(26 / 18);
  margin: var(--spacing-40) 0 var(--spacing-12);
}

h4 {
  font-size: var(--font-size-moderate);
  line-height: calc(26 / 18);
}

p,
ul,
ol {
  font-family: var(--font-family-serif);
  line-height: calc(26 / 16);
  margin: 0;
}

p + * {
  margin-bottom: 0;
  margin-top: var(--spacing-40);
}

p + p,
ul + p,
ol + p {
  margin-bottom: 0;
  margin-top: var(--spacing-30);
}

small {
  font-size: var(--font-size-small);
  line-height: calc(20 / 14);
}

.has-text-align-center {
  text-align: center;
}

@media (--breakpoint-md) {
  h1 {
    font-size: var(--font-size-max);
    line-height: calc(74 / 60);
  }

  h2 {
    font-size: var(--font-size-xxl);
    line-height: calc(44 / 34);
  }

  * + h2 {
    margin-top: var(--spacing-40);
  }

  h3 {
    font-size: var(--font-size-medium);
    line-height: calc(30 / 20);
    margin: 0 0 var(--spacing-12);
  }

  * + h3 {
    margin-top: var(--spacing-40);
  }

  h4 {
    font-size: var(--font-size-medium);
    line-height: calc(30 / 20);
  }

  .is-style-subhead {
    font-family: var(--font-family-sans);
    font-size: var(--font-size-medium);
    font-weight: var(--bold);
    line-height: 1.875;
  }
}
