@each $name, $size in $wp-blocks-font-sizes {
  .has-#{$name}-font-size {
    font-size: $size;
  }
}

h1,
h2,
h3 {
  font-family: $font-family-display;
  font-weight: $bold;
}

h1 {
  font-size: rem(36);
  line-height: (44 / 36);
}

h2 {
  color: theme-color("dark-blue");
  font-size: rem(26);
  line-height: (34 / 26);
  margin: 0 0 rem(20);
}

* + h2 {
  margin-top: rem(20);
}

h3 {
  color: theme-color("dark-blue");
  font-size: rem(18);
  line-height: (26 / 18);
  margin: rem(40) 0 rem(12);
}

h4 {
  font-size: rem(18);
  line-height: (26 / 18);
}

p {
  font-family: $font-family-serif;
  line-height: (26 / 16);
  margin: 0;
}

small {
  font-size: rem(14);
  line-height: (20 / 14);
}

@media screen and (min-width: $wp-blocks-breakpoint-md) {
  h1 {
    font-size: rem(52);
    line-height: (74 / 60);
  }

  h2 {
    font-size: rem(34);
    line-height: (44 / 34);
  }

  * + h2 {
    margin-top: rem(40);
  }

  h3 {
    font-size: rem(20);
    line-height: (30 / 20);
    margin: 0 0 rem(12);

    * + & {
      margin-top: rem(40);
    }
  }

  h4 {
    font-size: rem(20);
    line-height: (30 / 20);
  }
}
