@each $name, $size in $wp-blocks-font-sizes {
  .has-#{$name}-font-size {
    font-size: $size;
  }
}

h1,
h2,
h3 {
  font-family: $font-family-display;
  font-weight: $bold;
}

h1 {
  font-size: var(--font-size-xxxl);
  line-height: (44 / 36);
}

h2 {
  color: var(--dark-blue);
  font-size: var(--font-size-larger);
  line-height: (34 / 26);
  margin: 0 0 rem(20);
}

* + h2 {
  margin-top: rem(20);
}

h3 {
  color: var(--dark-blue);
  font-size: var(--font-size-moderate);
  line-height: (26 / 18);
  margin: rem(40) 0 rem(12);
}

h4 {
  font-size: var(--font-size-moderate);
  line-height: (26 / 18);
}

p {
  font-family: $font-family-serif;
  line-height: (26 / 16);
  margin: 0;
}

p + * {
  margin-bottom: 0;
  margin-top: 2.5rem;
}

p + p,
ul + p,
ol + p {
  margin-bottom: 0;
  margin-top: rem(30);
}

small {
  font-size: var(--font-size-small);
  line-height: (20 / 14);
}

@media screen and (min-width: $wp-blocks-breakpoint-md) {
  h1 {
    font-size: var(--font-size-max);
    line-height: (74 / 60);
  }

  h2 {
    font-size: var(--font-size-xxl);
    line-height: (44 / 34);
  }

  * + h2 {
    margin-top: rem(40);
  }

  h3 {
    font-size: var(--font-size-medium);
    line-height: (30 / 20);
    margin: 0 0 rem(12);

    * + & {
      margin-top: rem(40);
    }
  }

  h4 {
    font-size: var(--font-size-medium);
    line-height: (30 / 20);
  }
}
