// Header: White
// Body: Off White

.contact-us main .content {
  background-color: theme-color("off-white");
}

.contact-us main .social-links {
  list-style: none;
  padding-left: 0;
}

.contact-us main .social-links li + li {
  margin-top: $gutter;
}

.contact-us main .social-links a {
  padding: 0;
  position: relative;
  margin-left: rem(43);
}

.contact-us main .social-links a svg {
  border-radius: 50%;
  fill: currentColor;
  height: rem(35);
  left: rem(-39);
  position: absolute;
  top: rem(-5);
  width: rem(35);
}

.contact-us main .social-links a:focus svg {
  background-color: theme-color("blue");
  box-shadow: 0 0 0 rem(2) theme-color("blue");
  fill: currentColor;
  height: rem(35);
  vertical-align: middle;
  width: rem(35);
}

.contact-us .wp-block-columns {
  padding-top: rem(20);
}

.contact-us * + .wp-block-separator {
  padding-top: rem(70);
}

@media screen and (min-width: $wp-blocks-breakpoint-md) {
  .contact-us * + .wp-block-separator {
    padding-top: rem(100);
  }
}
