// Header: Light Grey
// Body: Off White

.page.home {
  main {
    .content {
      background-color: theme-color("off-white");
      padding-top: 0;
    }

    h3 {
      margin: 2rem auto 0;
    }

    * + h3 {
      margin: 0 auto;
    }

    h3 + div {
      margin: rem(12) 0 rem(40);
    }

    p.is-subhead {
      font-family: $font-family-display;
      font-size: rem(28);
      font-weight: $semibold;
      line-height: (37 / 28);
    }

    .wp-block-columns {
      border-top: 0;
      padding-bottom: rem(40);
    }
  }
}

@media screen and (min-width: $wp-blocks-breakpoint-md) {
  .page.home {
    main {
      h3 {
        margin: 0 0 rem(12);

        &::before {
          background-color: theme-color("light-blue");
          content: "";
          display: block;
          height: rem(3);
          margin-bottom: rem(16);
          width: calc((100% - #{rem(210)}) / 8);
        }

        button {
          display: none;
        }

        + div {
          display: block;
        }
      }

      * + h3 {
        margin-top: rem(40);
      }

      p.is-subhead {
        font-size: rem(42);
        line-height: (56 / 42);
      }

      .wp-block-columns {
        padding-top: rem(124);
      }
    }
  }
}
