.project {
  --project-spacing: var(--spacing-40, 3rem);
}

.project .project-header-media {
  background: var(--dark-green);
  height: 20rem;
  margin: 0;
  padding: 0;
}

.project .project-header h1 {
  color: var(--white);
  left: var(--project-spacing);
  margin: 0;
  position: absolute;
  top: 20rem;
}

.project .project-header-media img {
  max-height: 20em;
  overflow: hidden;
  object-fit: cover;
  width: 100%;
}

.project .project-content {
  margin: 0 2rem;
}

.project .project-breadcrumbs {
  margin: 1rem;
}

.project .section {
  border-top: 2px solid var(--green);
  margin: 1rem;
  padding: var(--project-spacing) 0;
}

.project .about-project {
  background: var(--off-white);
  border: none;
  padding: 2.5rem;
  margin: 3rem 0 5rem;
}

.project .heading-with-line {
  align-items: center;
  display: flex;
}

.project .heading-with-line .section-heading {
  margin: 0 1rem 0 0;
}

.project .heading-with-line hr {
  border-width: 1px;
  color: var(--dark-green);
  flex-grow: 2;
  height: 1px;
  margin-left: 0;
  margin-right: 0;
}
