.page-project {
  --project-spacing: var(--spacing-40, 3rem);
}

.page-project .project-header-media {
  margin: 0;
  padding: 0;
}

.page-project .project-header h1 {
  color: var(--white);
  left: var(--project-spacing);
  margin: 0;
  position: absolute;
  top: 21rem;
}

.page-project .project-header-media img {
  max-height: 20em;
  overflow: hidden;
  object-fit: cover;
  width: 100%;
}

.page-project .project-content {
  padding: var(--project-spacing);
}

.page-project .section {
  border-top: 2px solid var(--light-green);
  margin-top: var(--project-spacing);
  padding-top: var(--project-spacing);
  padding-bottom: var(--project-spacing);
  /* margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  padding-left: var(--project-spacing);
  padding-right: var(--project-spacing);
  width: 100%; */
}

/* .page-project .section-heading {
  color: var(--dark-green);
  font-weight: bold;
} */

.page-project .about-project {
  background: var(--light-grey);
  border: none;
  padding: var(--project-spacing);
}

.page-project .about-project .section-heading {

}
